<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="浙江电动牙刷厂家|宁波电动牙刷供应商|牙刷批发价格-宁波市北仑康煜电器科技有限公司">
  <meta name="author" content="康煜电器科技">
  <title>宁波市北仑康煜电器科技有限公司</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'respond', 'data-turbolinks-track' => true %>
  <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
